.container-md, .container {
    border-radius: 15px;
    background-color: #343a40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    background-color: #3d434a;
    color: white;
}

.header h1 {
    font-size: 2.5rem;
    color: white;
}

.content p.display-4 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
}

.form-group label {
    font-weight: bold;
    color: white;
}

.form-control {
    margin-bottom: 1rem;
    border-radius: 8px;
    color: black;
}

#calculate {
    width: 100%;
}

.btn {
    border-radius: 8px;
}

a {
    color: white;
}

button {
    color: white;
}

